.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
select {
  width: 15em;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.FormHeading {
  text-align: center;
}

.Forms {
  padding-left: 10em;
}
