.App {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-left: 8em;
}

input,
select {
  width: 15em;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.FormHeading {
  padding-top: 1em;
  text-align: center;
}

.Forms {
  padding-left: 10em;
}

.Graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  text-align: center;

}