.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button, select{
  width: 15em;
  height: 30px;
  font-size: 20px;
  margin: 5px;

}
#select{
  width: 20em;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.chart-container {
  width: 1000px;
  height:600px
}